@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --primary-color:#fff ;
    --sec-color:#000 ;
    --blue-color : #112967;
    --orange-color : #FF9300;
    --sec-blue:#1567B7;
    --thr-blue:#2979C7;
}

*{
    font-family:  'Poppins', sans-serif;
    }


/*navbar*/
.nav{
    @apply fixed top-0 left-0 flex max-lg:justify-between items-center w-full lg:h-28 xl:ps-5 z-50 bg-[--blue-color]
}
.nav-list{
    @apply max-lg:absolute max-lg:right-2 max-lg:top-20 max-lg:w-[90%] max-lg:bg-[--primary-color] rounded-lg lg:flex lg:justify-start lg:flex-nowrap
}
.navLinks {
    @apply   flex text-[--primary-color] px-2 py-1.5 rounded-lg 
}
.navLink {
    @apply min-[1291px]:px-3 px-1 min-[1500px]:px-5 xl:text-base  md:text-sm opacity-80 font-light min-[1280px]:px-1.5  uppercase rounded-sm max-md:text-sm max-lg:text-lg py-2 max-lg:text-[--blue-color] relative hover:opacity-100 max-lg:overflow-hidden
}
.navLink::before{
    @apply  content-[""] absolute -bottom-[100%] hover:-bottom-3 transition-all rounded-xl duration-200 ease-linear opacity-0 hover:opacity-100  left-0 w-full h-1 bg-[--orange-color] 
}
.showMenu{
    @apply block opacity-100
}
.getInTouch {
    @apply !h-[100%] hidden lg:flex justify-center items-center text-[--primary-color] bg-[--orange-color] !flex-1  !text-center xl:px-3 px-1 xl:text-base  md:text-sm  uppercase rounded-sm max-md:text-sm max-lg:text-lg py-2 
}

/*hero-sec*/
.hero-image{
    @apply xl:w-2/3 absolute top-[7rem] max-md:top-36 -right-20
}
.hero-image img {
    @apply xl:h-screen w-full
}
.hero-desc {
    @apply absolute top-[33%]  md:top-[40%] left-5 md:left-16 md:translate-y-[-30%] text-[--primary-color]
}
.main-title{
@apply text-xl md:text-3xl
}
.hero-title{
    @apply my-2 ps-5 border-s-8 max-sm:text-xs text-2xl  md:text-4xl
}
.bottom-hero{
    @apply text-[--primary-color]  max-md:text-xs font-extralight flex justify-between max-md:pe-0 md:w-5/6 h-fit px-6 items-center absolute bottom-0 md:left-0 -left-5
}
.bottom-hero .left-side{
    @apply  w-1/12 flex flex-col items-center
}
.bottom-hero .right-side{
    @apply w-11/12 h-48 max-md:h-32
}
.hero-bottom-desc {
    @apply flex justify-start items-center
}
.hero-bottom-desc .left-side{
   @apply w-8/12 p-3 flex justify-center  items-center lg:p-12 bg-[--sec-blue] h-48  max-md:h-32
}

.hero-bottom-desc .right-side{
    @apply w-4/12 h-48 max-md:h-32 p-3 lg:p-12 flex justify-center items-center text-center relative bg-[--thr-blue]
}
.hero-arrow{
    @apply absolute right-1  bottom-1 max-sm:w-7 max-sm:h-7 w-10 h-10 opacity-70
}

/*about us*/
.aboutBox{
    @apply flex max-lg:flex-wrap
}
.aboutBox .left-side {
    @apply max-lg:w-full w-1/2  md:ps-16 pt-16 overflow-hidden
}
.sec-title{
    @apply uppercase max-md:ms-3 text-[--blue-color] text-3xl md:text-5xl mt-2 mb-12 border-s-8 border-[--blue-color] font-semibold tracking-wider ps-5
}
.special-letter{
    @apply text-[--orange-color]
}
.desc-card{
    @apply w-full bg-[--sec-blue] h-full ps-6 lg:ps-32 pb-10 pt-6 md:pt-12
}
.desc-card .text-box{
    @apply  text-[--primary-color]  
}
.desc-card .box-title{
    @apply  text-2xl mb-3 max-sm:text-sm font-semibold
}
.desc-card .box-desc{
    @apply  md:w-[70%] text-lg max-sm:text-xs font-extralight
}
.aboutBox .right-side{
    @apply max-lg:w-full w-1/2 relative overflow-hidden
}
/* .ourStats{
    @apply w-1/2 h-full bg-[--blue-color] absolute top-0 right-0 py-32 flex flex-col justify-between items-start
}
.ourStats .stats-contaniner{
    @apply flex  items-center mx-auto space-x-5  
}
.ourStats .stats-contaniner:not(:first-child){
    @apply -mt-12
}
.stats-contaniner .stats-num{
@apply text-[--primary-color] font-bold
}
.stats-contaniner .stats-num span:first-child{
@apply text-2xl mb-1 block
}
.stats-contaniner .stats-num span:last-child{
@apply opacity-30 block uppercase tracking-wide
}
.stats-line{
    @apply rotate-180 bg-[--primary-color] w-[1px] h-36 ms-32 -me-2 -mt-12
    absolute top-[75%] -left-1 
} */
/*our services*/
.ourServices{
    @apply relative
}
.ourServices .left-side{
    @apply max-lg:w-full w-1/3  md:ps-16 pt-16  max-md:px-3
}
.ourServices .services-desc{
    @apply my-6 text-[--blue-color] w-[70%] font-semibold
}
.ourServices .btns{
    @apply my-12 flex justify-start items-center space-x-1
}
.ourServices .btns{
    @apply my-12 flex justify-start items-center space-x-1
}
.ourServices .arrow-btn{
    @apply md:p-8 p-2 bg-[--sec-blue]
}
.ourServices .arrow{
    @apply w-8 h-8
}
.ourServices .right-side{
    @apply w-full lg:w-2/3 lg:h-[110%] lg:absolute lg:top-0 lg:right-0
}
.ourServices .right-side .image{
    @apply max-w-full lg:w-full lg:h-[120%]
}
.ourServices .image-card{
    @apply absolute left-5 md:left-20 max-lg:bottom-[20%] max-md:bottom-[5%] lg:top-[50%] lg:translate-y-[-50%] lg:w-1/3
}
.ourServices .image-card h3{
    @apply lg:text-2xl md:text-xl uppercase md:mb-5 mb-2 font-bold text-[--primary-color]
}
.ourServices .image-card p{
    @apply md:text-lg  max-lg:w-[80%] md:mb-8 mb-3 font-extralight  text-[--primary-color]
}
.detailsBtn {
    @apply py-2 md:py-5 px-8 bg-[--orange-color] text-[--primary-color] md:text-lg uppercase font-semibold
}
/*our Clients*/
.OurClients{
    @apply py-32 bg-[#F5F5F5] px-2 md:px-20
}
.OurClients .contaniner{
    @apply flex flex-row flex-wrap mt-12
}

.clientBox{
    @apply lg:w-1/4 sm:w-1/3 w-1/2 p-2
}
.clientCard{
    @apply bg-[--primary-color] py-12 h-full max-sm:py-6
}
.clientCard .image{
    @apply max-w-full h-10 mx-auto mb-4 max-sm:h-5
}
.clientCard .date{
    @apply text-center font-extralight italic text-gray-500
}
.clientCard .clientName{
    @apply text-center font-extralight italic text-gray-500 max-sm:text-xs
}
.btnCard{
    @apply bg-[--sec-blue] py-12 h-full relative flex justify-center items-center text-[--primary-color] text-lg hover:bg-[--blue-color] transition-all
}

/*footer*/
.upper-footer{
@apply bg-[--blue-color] flex justify-between items-center py-5 px-2 lg:px-12  text-[--primary-color] max-sm:text-xs 
}
.scoial{
    @apply  flex items-center
}
.hrline{
    @apply  h-0.5 px-3 md:px-7 bg-[--primary-color] my-auto block mx-2
}
.social-icon{
    @apply w-4 h-4 lg:w-7 lg:h-7
}
.lower-footer{
    @apply bg-[#0D235D] flex justify-between items-center py-5 px-2 lg:px-12  text-[--primary-color]
}
.footer-text{
    @apply text-gray-400 text-xs md:text-lg lg:tracking-widest
}


/*ticker-box*/
.tickerBox {
    @apply py-5 md:py-12 bg-[#F8F8F8] overflow-hidden
}

.trickerContainer{
    @apply flex items-center translate-x-[-1792px] ;
    animation: ticker 20s infinite linear;
    
}
.textTicker{
    @apply px-12 text-[#9BA5BE] text-lg md:text-4xl uppercase whitespace-nowrap font-extrabold cursor-default transition-all hover:text-[--blue-color]
}

@keyframes ticker {
    from{
        transform:translateX(100%) ;
    }
    to{
        transform: translateX(-1792px);
    }
}